[package]
name = "duckscriptsdk"
version = "0.8.3"
authors = ["Sagie Gur-Ari <sagiegurari@gmail.com>"]
description = "The duckscript SDK."
license = "Apache-2.0"
edition = "2018"
documentation = "https://sagiegurari.github.io/duckscript/api/duckscript/index.html"
homepage = "http://github.com/sagiegurari/duckscript"
repository = "https://github.com/sagiegurari/duckscript.git"
readme = "README.md"
keywords = ["script", "script-engine", "language"]
categories = ["command-line-utilities", "development-tools"]
include = [
  "/benches/*",
  "/docs/*",
  "/examples/*",
  "/src/*",
  "/tests/*",
  "/Cargo.toml",
  "/LICENSE",
  "/README.md",
]

[dependencies]
attohttpc = "^0.17"
base64 = "^0.13"
cfg-if = "^1.0"
duckscript = { version = "^0.7", path = "../duckscript" }
fs_extra = "^1"
fsio = { version = "^0.2", features = ["temp-path"] }
ftp = "^3"
glob = "^0.3"
heck = "^0.3"
home = "^0.5"
ignore = "^0.4"
java-properties = "^1"
meval = "^0.2"
num_cpus = "^1"
rand = "^0.8"
semver = "^1.0"
serde_json = "1"
walkdir = "^2"
which = { version = "^4", default-features = false }
whoami = "^1.1"

[target.'cfg(not(windows))'.dependencies]
uname = "^0.1"

[badges.codecov]
branch = "master"
repository = "sagiegurari/duckscript"
service = "github"
